/* RESET */
body,header,main,footer,div,p,span,section
img,figure,ul,li,h1,h2,h3,h4,button,input,
form{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

ul{
    list-style: none;
}
/* RESET */

body{
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -55px;
    background-position-y: 40px;
}

.remove{
    display: none;
}
.remove-secaoJogada{
    display: none;
}

.remove-secaoRodada{
    display: none;
}

.add{
    display: block;
}

.borda{
    border: 1px solid #fff;
    background-color: #fff;
}
/* VARIABLES CSS */
:root{
    font-size: 8px;
    font-family: sans-serif;

    --primaty-color: #52A1CD;
    --second-color:#1DC29B;
}
/* VARIABLES CSS */

.clickbutton{
    background-image: linear-gradient(120deg,#52A1CD ,#1DC29B);
    color: #fff;
    border: 1px solid #000;
    cursor: pointer;
}

.clickAtivado{
    background-color: #fff;
}