/* HEADER */
header{
    padding: 10px 0px;
    margin-bottom: 20px;
}
header h1{
    text-align: center;
    font-size: 3rem;
}
/* HEADER */

/* MAIN */
    /* formulario */
    form{
        width: 300px;
        height: 215px;
        max-width: 600px;
        background-color: var(--second-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 10px;
        box-shadow: 3px 5px 15px #000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    form h2{
        color: #fff;
        font-size: 2.5rem;
    }
    form input[type = text]{
        padding: 3px 8px;
        outline: 2px solid var(--primaty-color);
        border-radius: 8px;
    }
    form input[type = submit]{
        width: 60%;
        height: 30px;
        font-weight: bold;
        background-color: var(--primaty-color);
        border-radius: 10px;
    }
    form input[type = submit]{
        cursor: pointer;
    }
    /* formulario */
    /* placar do jogo */
    .secaoPlacar{
        display: block;
        background-color: var(--primaty-color);
        width: 85%;
        height: 125px;
        border-radius: 8px;
        box-shadow: 3px 5px 15px #000;
        padding: 10px;
        margin: auto;
        margin-bottom: 150px;
    }
    .secaoPlacar h2{
        font-size: 2rem;
        text-align: center;
    }
    .placar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 90%;
    }
    .placar .valor{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.5rem;
        font-weight: bold;
    }
    /* placar do jogo */

    /* jogada */    
    .secaoJogada{
        display: flex;
        width: 85%;
        height: 290px;
        border-radius: 8px;
        background-color: var(--primaty-color);
        padding: 15px;
        margin: auto;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        box-shadow: 3px 5px 15px #000;
    }
    .secaoJogada h2{
        font-size: 2.5rem;
        text-align: center;
    }
    .simbolosJokempo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .simbolosJokempo figure{
        width: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
    }
    .simbolosJokempo figure:hover{
        background-color: #fff;
        cursor: pointer;
    }
    .simbolosJokempo figure img{
        width: 50%;
        margin: 10px 0px;
        border-radius: 100%;
    }
    .simbolosJokempo figure figcaption{
        font-size: 2rem;
        font-weight: bold;
    }
    .secaoJogada button{
        width: 105px;
        border-radius: 10px;
        padding: 5px;
    }
    /* jogada */
    
    /* Rodada */
    .secaoRodada{
        width: 85%;
        height: 215px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 8px;
        box-shadow:  3px 5px 15px #000;
        background-image: linear-gradient(90deg,var(--primaty-color),var(--second-color));
        padding: 5px;
    }
    .secaoRodada h2{
        font-size: 2.5rem;
    }
    .rodada{
        width: 50%;
        display: flex;
        justify-content: space-between  ;
        align-items: center;
    }
    .rodada p{
        font-size: 2.5rem;
        font-weight: bold;
    }
    .rodada figure{
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .rodada figure img{
        width: 100%;
        border-radius: 100%; 
        margin: 15px;
    }
    .rodada figure figcaption{
        font-size: 1.5rem;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
    }
    /* Rodada */

    /* Resultado da Rodada */
    .secaoResultado{
        width: 300px;
        height: 255px;
        background-image: linear-gradient(90deg,var(--primaty-color),var(--second-color));
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        border-radius: 10px;
        box-shadow:  3px 5px 15px #000;
    }
    .secaoResultado .resultadoRodada{
        width: 80%;
        text-align: center;
        font-size: 2.5rem;
        line-height: 32px;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
    }
    .secaoResultado button{
        width: 250px;
        height: 60px;
        border-radius: 50px;
        border: 1px solid #000;
        box-shadow: 2px 3px 10px #000;
        background-color: var(--second-color);
        font-size: 2rem;
        font-weight: bold;
        color: #fff;
    }
    .secaoResultado button:hover{
        cursor: pointer;
    }
    /* Resultado da Rodada */
/* MAIN */

/* MEDIA QUERIE */
@media only screen and (min-width: 768px){
    /* formulario */
    form{
        width: 500px;
        height: 412px;
    }
    form h2{
        font-size: 3rem;
    }
    form input[type = text]{
        padding: 10px;
        width: 60%;
    }
    form input[type = submit]{
        width: 50%;
        height: 45px;
    }
    /* formulario */
    /* placar do jogo */
    .secaoPlacar{
        width: 50%;
        height: 220px;
    }
    .secaoPlacar h2{
        font-size: 3rem;
    }
    .placar .valor{
        font-size: 3.5rem;
    }
    /* placar do jogo */
    /* jogada */
    .simbolosJokempo{
        width: 100%;
        justify-content: space-around;
    }
    /* jogada */

    /* rodada */
    .secaoRodada{
        width: 60%;
    }
    .rodada figure{
        width: 70px;
    }
    .rodada p{
        font-size: 5rem;
    }
    /* rodada */

    /* Resultado da Rodada */
    .secaoResultado{
        width: 500px;
        height: 300px;
    }
    .secaoResultado .resultadoRodada{
        font-size: 4.5rem;
        line-height: 50px;
        width: 300px;
    }
    /* Resultado da Rodada */
}

@media only screen and (min-width: 1045px){
    /* jogada */
    .secaoJogada{
        width: 60%;
        height: 350px;
    }
    .simbolosJokempo figure{
        width: 150px;
        height: 200px;
    }
    .simbolosJokempo figure img{
        width: 100%;
    }
    .simbolosJokempo figure figcaption{
        font-size: 3rem;
    }
    .secaoJogada button{
        width: 200px;
        padding: 10px;
        font-size: 2.5rem;
    }
    /* jogada */

    /* rodada */
    .secaoRodada{
        height: 300px;
        justify-content: space-between;
        padding: 20px;
    }
    .secaoRodada h2{
        font-size: 3rem;
    }
    .rodada{
        height: 90%;
    }
    /* rodada */
}
@media only screen and (min-width: 1365px){
    body{
        background-position-x: 0;
    }

    .secaoJogada{
        height: 390px;
        margin-top: 100px;
    }

    /* rodada */
    .secaoRodada{
        height: 350px;
    }
    .rodada figure{
        width: 100px;
    }
    .rodada figure figcaption{
        font-size: 3rem;
    }
    /* rodada */

    /* resultado */

    .secaoResultado button{
        font-size: 3rem;
        width: 70%;
    }

    /* resultado */
}

@media only screen and (min-width: 1810px){
    .secaoJogada{
        height: 500px;
        margin-top: 250px;
    }
    .secaoRodada{
        height: 500px;
    }
    .rodada figure{
        width: 150px;
        
    }
    .rodada figure img{
        border-radius: 100%;    
    }
    .rodada figure figcaption{
        font-size: 3.5rem;
    }

    .secaoResultado{
        width: 600px;
    }
}
/* MEDIA QUERIE */